body {
	margin: 0;
	padding: 0;
	background-size: cover;
}

#joueur1{
	position:absolute;
	width:100px;
	height:100px;
	left:20px;
	top:15%;
	background-color: aqua;
}

#joueur2{
	position:absolute;
	width:100px;
	height:100px;
	left:20px;
	top:60%;
	background-color: blueviolet;
}

#georgie{
	position:absolute;
	width:100px;
	height:100px;
	right:20px;
	top:50%;
}
